
/TataChatBot/chatroom/logs/
/TataChatBot/dashboard/migrations/
/TataChatBot/faq_component/faq_data/
/TataChatBot/faq_component/migrations/
/TataChatBot/ml_component/logs/
/TataChatBot/ml_component/migrations/
